* {
    margin: 0;
    padding: 0;
}

.grille {
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;

    scrollbar-width: thin;
    scrollbar-color: #333 blue;

    /* border: 1px solid #333; */
}

.grille > .img_container {
    width:fit-content;
    display: inline-flex;
    max-height: 300px;
    margin: 5px;
}

.img_container > .img_link {
    max-height: 100%;
}

.img_link > img {
    display: flex;
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
    height: 300px;
    border-radius: 3px;
}
#g_container{
    width: 100vw;
    display: flex;
    transition: all 0.3s;
    position: absolute;
}
.img_tab_container{
    width: 85%;
    height: 100vh;
    overflow-y: auto;
    scrollbar-width: thin;
}
.img_container{
    position: relative;
}
.side_menu{
    position: relative;
    width: 15%;
    height: 100vh;
    text-align: end;
    border-left: 1px solid rgb(54,54,54);
    padding: 30px;
}

.col-sm-2 h1{
    margin: 10px;
}
.darkTheme{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    bottom: 30px;
    position: absolute;
    right: 10px;
    white-space: nowrap;
}
.darkTheme h6{
    display: inline-block;
}

.darkTheme i {
    font-size: 24px;
}

#theme_saver {
    display: none;
}