<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
<<<<<<< HEAD
    <p>coucou</p>
=======
    <p>COUCOU</p>
>>>>>>> b7c00c879d1bd6fea820ccfc26a7b08529d199f9
    <p>Welcome to <%= title %></p>
  </body>
</html>
