<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
<<<<<<< HEAD
    <p>Life's great !!</p>
=======
    <p>COUCOU</p>
>>>>>>> 2a91fd5375c46e13838193d861e97b4156b899fb
    <p>Welcome to <%= title %></p>
  </body>
</html>
